In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data1.csv')
df

,State Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),MAIZE AREA (1000 ha),MAIZE PRODUCTION (1000 tons),CHICKPEA AREA (1000 ha),CHICKPEA PRODUCTION (1000 tons),SUGARCANE AREA (1000 ha),SUGARCANE PRODUCTION (1000 tons),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons)
0,Chhattisgarh,841.13,983.21,43.50,50.19,9.25,18.09,258.46,259.45,19.85,3.59,0.45,0.13
1,Chhattisgarh,660.36,801.82,1.24,2.22,41.94,120.22,1.39,1.29,0.72,0.11,0.00,0.00
2,Chhattisgarh,959.01,1520.95,14.56,23.66,6.13,13.67,31.38,34.48,0.27,0.05,0.03,0.01
3,Chhattisgarh,727.94,1295.71,15.80,21.72,7.61,15.83,39.08,32.29,7.57,0.83,0.00,0.00
4,Chhattisgarh,411.12,623.29,3.91,6.76,6.29,15.81,1.16,1.18,0.43,0.09,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,Jharkhand,266.02,533.69,0.00,0.00,64.33,139.51,61.76,86.78,0.00,0.00,0.00,0.00
306,Jharkhand,53.28,113.46,0.00,0.00,4.95,11.50,7.04,10.27,0.00,0.00,0.00,0.00
307,Jharkhand,121.89,253.28,0.00,0.00,66.32,93.25,40.03,30.49,0.00,0.00,0.00,0.00
308,Jharkhand,556.33,1124.50,0.00,0.00,39.61,103.50,43.27,58.32,0.00,0.00,0.00,0.00
309,Jharkhand,386.91,669.97,0.00,0.00,27.07,40.82,29.99,38.79,0.00,0.00,0.00,0.00

In [3]:
df.columns

Index(['State Name', 'RICE AREA (1000 ha)', 'RICE PRODUCTION (1000 tons)',
       'WHEAT AREA (1000 ha)', 'WHEAT PRODUCTION (1000 tons)',
       'MAIZE AREA (1000 ha)', 'MAIZE PRODUCTION (1000 tons)',
       'CHICKPEA AREA (1000 ha)', 'CHICKPEA PRODUCTION (1000 tons)',
       'SUGARCANE AREA (1000 ha)', 'SUGARCANE PRODUCTION (1000 tons)',
       'COTTON AREA (1000 ha)', 'COTTON PRODUCTION (1000 tons)'],
      dtype='object')

In [4]:
df.columns=['state_name','rice_area','rice_prod','wheat_area','wheat_prod','maize_area','maize_prod','chickpea_area','chickpea_prod','sugarcane_area','sugarcane_prod','cotton_area','cotton_prod']

In [5]:
df

,state_name,rice_area,rice_prod,wheat_area,wheat_prod,maize_area,maize_prod,chickpea_area,chickpea_prod,sugarcane_area,sugarcane_prod,cotton_area,cotton_prod
0,Chhattisgarh,841.13,983.21,43.50,50.19,9.25,18.09,258.46,259.45,19.85,3.59,0.45,0.13
1,Chhattisgarh,660.36,801.82,1.24,2.22,41.94,120.22,1.39,1.29,0.72,0.11,0.00,0.00
2,Chhattisgarh,959.01,1520.95,14.56,23.66,6.13,13.67,31.38,34.48,0.27,0.05,0.03,0.01
3,Chhattisgarh,727.94,1295.71,15.80,21.72,7.61,15.83,39.08,32.29,7.57,0.83,0.00,0.00
4,Chhattisgarh,411.12,623.29,3.91,6.76,6.29,15.81,1.16,1.18,0.43,0.09,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,Jharkhand,266.02,533.69,0.00,0.00,64.33,139.51,61.76,86.78,0.00,0.00,0.00,0.00
306,Jharkhand,53.28,113.46,0.00,0.00,4.95,11.50,7.04,10.27,0.00,0.00,0.00,0.00
307,Jharkhand,121.89,253.28,0.00,0.00,66.32,93.25,40.03,30.49,0.00,0.00,0.00,0.00
308,Jharkhand,556.33,1124.50,0.00,0.00,39.61,103.50,43.27,58.32,0.00,0.00,0.00,0.00
309,Jharkhand,386.91,669.97,0.00,0.00,27.07,40.82,29.99,38.79,0.00,0.00,0.00,0.00

In [6]:
df1=df.groupby(['state_name']).sum()

In [7]:
df1.head()

,rice_area,rice_prod,wheat_area,wheat_prod,maize_area,maize_prod,chickpea_area,chickpea_prod,sugarcane_area,sugarcane_prod,cotton_area,cotton_prod
state_name,,,,,,,,,,,,
Andhra Pradesh,2218.18,8461.34,0.05,0.04,336.53,2325.90,520.38,589.13,98.92,778.27,646.04,375.82
Assam,2417.18,5255.40,17.58,24.39,31.39,98.30,2.22,1.52,30.52,114.14,0.75,0.07
Bihar,3306.98,8093.16,2101.31,6104.30,677.45,3120.75,58.22,67.18,233.77,1382.46,0.00,0.00
Chhattisgarh,3976.63,5749.05,102.19,141.64,119.62,306.95,335.02,331.68,34.84,6.42,0.48,0.14
Gujarat,855.29,1889.81,1058.76,3101.06,399.99,714.76,292.77,376.26,181.70,1162.26,2626.50,1820.28

In [8]:
df_rice=df1[['rice_area','rice_prod']]
df_wheat=df1[['wheat_area','wheat_prod']]
df_maize=df1[['maize_area','maize_prod']]
df_chickpea=df1[['chickpea_area','chickpea_prod']]
df_sugarcane=df1[['sugarcane_area','sugarcane_prod']]
df_cotton=df1[['cotton_area','cotton_prod']]

In [9]:
rice=df_rice.sort_values(by=['rice_prod'],ascending=False).reset_index(drop=False).head().to_dict(orient='records')
wheat=df_wheat.sort_values(by=['wheat_prod'],ascending=False).reset_index(drop=False).head().to_dict(orient='records')
maize=df_maize.sort_values(by=['maize_prod'],ascending=False).reset_index(drop=False).head().to_dict(orient='records')
chickpea=df_chickpea.sort_values(by=['chickpea_prod'],ascending=False).reset_index(drop=False).head().to_dict(orient='records')
sugarcane=df_sugarcane.sort_values(by=['sugarcane_prod'],ascending=False).reset_index(drop=False).head().to_dict(orient='records')
cotton=df_cotton.sort_values(by=['cotton_prod'],ascending=False).head().reset_index(drop=False).to_dict(orient='records')

In [10]:
rice

[{'state_name': 'West Bengal',
  'rice_area': 5307.6900000000005,
  'rice_prod': 15658.94},
 {'state_name': 'Uttar Pradesh', 'rice_area': 5937.08, 'rice_prod': 15551.39},
 {'state_name': 'Punjab', 'rice_area': 3065.0, 'rice_prod': 13382.0},
 {'state_name': 'Andhra Pradesh',
  'rice_area': 2218.1800000000003,
  'rice_prod': 8461.34},
 {'state_name': 'Bihar', 'rice_area': 3306.98, 'rice_prod': 8093.16}]

In [11]:
import json
def writejson(file_name,chart_data):
    json_ob = json.dumps(chart_data,indent=2)
    with open(file_name,"w") as outfile:
        outfile.write(json_ob)

In [12]:
file_list = ['rice.json','wheat.json','maize.json','chickpea.json','sugarcane.json','cotton.json']
dict_list = [rice,wheat,maize,chickpea,sugarcane,cotton]
for i,j in zip(file_list,dict_list):
    writejson(i,j)